* {
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;
  overflow-x: hidden;
  background-color: $color-light;
}

pre {
  text-align: left;
}

article {
  min-height: 100vh;
  max-width: 100%;
  padding: 10px;
  &.flexArticle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1,
h2 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 7rem;
  @include lg {
    font-size: 5rem;
  }
  @include md {
    font-size: 2.5rem;
  }
  margin: 0;
}

p,
a,
span,
div,
pre {
  font-size: 1.6rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.material-icons {
  opacity: 0.8;
}

.view {
  padding-left: 330px;
  width: 100%;
  background-color: $color-light;
}
.viewcontent {
  padding: 30px 50px 30px 50px;
}

/////////////REUSABLE COMPONENTS

.frosted {
  background-color: rgba(white, 0.5);
  border: 2px solid rgba(white, 0.25);
  backdrop-filter: blur(15px);
  &--noBorder {
    border: none;
  }
  &--shadow {
    box-shadow: $boxShadow-light;
  }
}

.button {
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  transition: all 0.4s ease;
  &:hover {
    text-decoration: none;
  }
  &--outline {
    border: 2px solid $color-darkgrey;
    &:hover {
      background-color: $color-darkgrey;
      color: white;
    }
  }
}

.buttonHover {
  transition: all .4s ease;
  &:hover {
    text-decoration: none;
    box-shadow: inset rgba($color: #000000, $alpha: 0.05) 500px 500px 500px;
  }
}

/////////////FORMS

.form {
  &__errorMessage {
    color: $color-warning;
  }
  &__successMessage {
    color: $color-success;
  }
  * {
    font-family: $font-family-sans;
  }
}

input,
textarea,
select {
  font-size: 1.6rem;
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;
  border-radius: $borderRadius-regular;
  padding: 10px;
  height: 45px;
  border: $border-light;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input, textarea {
  &::placeholder {
    font-family: $font-family-sans;
    font-weight: $font-weight-normal;
    color: darkgrey;
  }
}

input[type="button"],
input[type="submit"] {
  border: none;
  transition: box-shadow 0.4s ease;
  font-weight: $font-weight-bold;
  &:hover {
    cursor: pointer;
  }
}

/////////////SHARED

.AuthForm {
  margin: auto;
  text-align: center;
  padding: 30px;
  margin: auto;
  border-radius: 15px;
  max-width: 370px;
  opacity: 0;
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 8px);
    margin-bottom: 10px;
    border: 2px solid rgba(white, 0.5);
    background-color: transparent;
    transition: background-color 0.4s ease;
    &::placeholder {
      font-weight: $font-weight-normal;
      color: rgba($color-darkgrey, 0.8);
    }
    &:focus {
      background-color: rgba(white, 0.6);
    }
  }
  input[type="submit"] {
    width: calc(100% - 8px);
    padding: 10px;
  }
}
